.preview{display:inline-block; width:35%; }
.preview img{display:block; width: 100%; border: solid gray 1px; margin-right:7px;}
.preview p{display:inline-block;}
.options{display:inline-block;  width:20%; position: relative; min-height:100px; margin-left:5%; bottom:100px;}
nav {float:right;}
.clear{clear:both;}
.options .btn{margin-top:15px;  display:inline-block;}
.options .progress{margin-top:50px;}
















/*Custom Media Styles*/
@media only screen and (max-width: 1200px)  {

.options{bottom:0px;}
}
@media only screen and (max-width: 768px)  {

.options{display:block; width:80%;}

}